<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/main_layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: mainContent}
                                               )}">
<head>
    <h2 th:fragment="title">Category</h2>
</head>
<body>

<!-- start: page -->
<section th:fragment="mainContent" class="panel">

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button type="button" class="btn btn-primary" id="add-cate">Add Category <i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="col-sm-12 col-sm-6">
                <form class="form-inline pull-right" th:action="@{/admin/category/search/}">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search" name="searchKey" th:value="${searchKey}">
                    </div>
                    <button type="submit" class="btn btn-primary" id="add-"><i
                            class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
            <tr>
                <td align="center" style="font-weight: bold">ID</td>
                <td style="font-weight: bold">Name</td>
                <td style="font-weight: bold">Created Date</td>
                <td style="font-weight: bold">Updated Date</td>
                <td align="center" style="font-weight: bold">Action</td>
            </tr>
            </thead>
            <tbody class="list-user">
            <tr th:each="category : ${listCate?.content}">
                <td align="center" th:text="${category?.categoryId}"></td>
                <td th:text="${category?.name}"></td>
                <td th:text="${#dates.format(category?.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(category?.updatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td align="center">
                    <button type="button" class="mb-xs btn btn-info btn-edit-cate" th:attr="cateid=${category?.categoryId}"><i class="fa fa-pencil" title="Edit category" style="cursor: pointer"></i></button>
                    <button type="button" class="mb-xs btn btn-info btn-delete-cate" th:attr="cateid=${category?.categoryId}"><i class="fa fa-trash-o" title="Delete category" style="cursor: pointer"></i></button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Paging -->
        <th:block th:unless="${search}">
        <ul class="pagination">
            <li th:if="${listCate?.hasPrevious}"><a th:href="@{'/admin/category/' + ${listCate?.currPage - 1}}">Prev</a></li>
            <li class="active"><a><span th:text="'Page ' + ${listCate?.currPage} +' of ' + ${listCate?.totalPages}"></span></a></li>
            <li th:if="${listCate?.hasNext}"><a th:href="@{'/admin/category/' + ${listCate?.currPage + 1}}">Next</a></li>
        </ul>
        </th:block>

        <th:block th:if="${search}">
            <ul class="pagination">
                <li th:if="${listCate?.hasPrevious}"><a th:href="@{'/admin/category/search/' + ${listCate?.currPage - 1} + '?searchKey=' + ${searchKey}}">Prev</a></li>
                <li class="active"><a><span th:text="'Page ' + ${listCate?.currPage} +' of ' + ${listCate?.totalPages}"></span></a></li>
                <li th:if="${listCate?.hasNext}"><a th:href="@{'/admin/category/search/' + ${listCate?.currPage + 1} + '?searchKey=' + ${searchKey}}">Next</a></li>
            </ul>
        </th:block>



    </div>

    <!-- Modal add cate -->
    <div class="modal fade" id="modal-add-cate" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add Category</h5>
                    <button type="button" class="panel-actions" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group margin-bottom-15" style="margin-top: 20px">
                        <label class="col-sm-2">Name:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-cate-name">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-save-category">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update cate -->
    <div class="modal fade" id="modal-update-cate" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Category</h5>
                    <button type="button" class="panel-actions modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group margin-bottom-15" style="margin-top: 20px">
                        <label class="col-sm-2">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-cate-name-update">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-update-cate">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end: page -->

</body>
</html>
