<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/main_layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: mainContent}
                                               )}">
<head>
    <h2 th:fragment="title">Hui's Pesonal Blog Admin Dashboard</h2>
</head>
<body>

<!-- start: page -->
<div th:fragment="mainContent" class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">

            <!--Total Posts-->
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-comments"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Total Posts</h4>
                                    <div class="info">
                                        <strong class="amount" th:text="${postsAmount}"></strong>
                                    </div>
                                </div>
                                <div class="summary-footer"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Total Comments-->
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fa fa-comments-o"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Total Comments</h4>
                                    <div class="info">
                                        <strong class="amount" th:text="${commentsAmount}">$ 14,890.30</strong>
                                    </div>
                                </div>
                                <div class="summary-footer"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Total Categories-->
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-tertiary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fa fa-tasks"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Total Categories</h4>
                                    <div class="info">
                                        <strong class="amount" th:text="${catesAmount}"></strong>
                                    </div>
                                </div>
                                <div class="summary-footer"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Total Users-->
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left panel-featured-quartenary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quartenary">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Total Users</h4>
                                    <div class="info">
                                        <strong class="amount" th:text="${usersAmount}"></strong>
                                    </div>
                                </div>
                                <div class="summary-footer"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
<!-- end: page -->

</body>
</html>
