<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/main_layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: mainContent}
                                               )}">
<head>
    <h2 th:fragment="title">Post</h2>

</head>
<body>

<!-- start: page -->
<section th:fragment="mainContent" class="panel">

    <div class="panel-body">


        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="add-post">Add Post <i
                        class="fa fa-plus"></i></button>            </div>
            <div class="col-md-6">
                <form class="form-inline pull-right" th:action="@{/admin/post/search/}">
                    <input type="search" class="form-control" placeholder="Search" name="searchKey"
                           th:value="${searchKey}">
                    <button type="submit" class="btn btn-primary"><i
                            class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <table class="table table-bordered table-striped mb-none">
            <thead>
            <tr>
                <td align="center" style="font-weight: bold">ID</td>
                <td align="center" style="font-weight: bold">Image</td>
                <td style="font-weight: bold">Title</td>
                <td style="font-weight: bold">Created Date</td>
                <td style="font-weight: bold">Updated Date</td>
                <td align="center" style="font-weight: bold">Action</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${listPost?.content}">
                <td align="center" th:text="${post?.id}"></td>
                <td align="center"><img th:src="@{${post.img}}" style="width: 60px; height: 40px"/></td>
                <td th:text="${post?.title}"></td>
                <td th:text="${#dates.format(post?.created, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(post?.updated, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td align="center">
                    <button type="button" class="mb-xs btn btn-info btn-edit-post" th:attr="postid=${post?.id}"><i
                            class="fa fa-pencil" title="Edit category" style="cursor: pointer"></i></button>
                    <button type="button" class="mb-xs btn btn-info btn-delete-post" th:attr="postid=${post?.id}"><i
                            class="fa fa-trash-o" title="Delete category" style="cursor: pointer"></i></button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Paging -->
        <th:block th:unless="${search}">
            <ul class="pagination">
                <li th:if="${listPost?.hasPrevious}"><a th:href="@{'/admin/post/' + ${listPost?.currPage - 1}}">Prev</a>
                </li>
                <li class="active"><a><span
                        th:text="'Page ' + ${listPost?.currPage} +' of ' + ${listPost?.totalPages}"></span></a></li>
                <li th:if="${listPost?.hasNext}"><a th:href="@{'/admin/post/' + ${listPost?.currPage + 1}}">Next</a>
                </li>
            </ul>
        </th:block>

        <th:block th:if="${search}">
            <ul class="pagination">
                <li th:if="${listPost?.hasPrevious}"><a
                        th:href="@{'/admin/post/search/' + ${listPost?.currPage - 1} + '?searchKey=' + ${searchKey}}">Prev</a>
                </li>
                <li class="active"><a><span
                        th:text="'Page ' + ${listPost?.currPage} +' of ' + ${listPost?.totalPages}"></span></a></li>
                <li th:if="${listPost?.hasNext}"><a
                        th:href="@{'/admin/post/search/' + ${listPost?.currPage + 1} + '?searchKey=' + ${searchKey}}">Next</a>
                </li>
            </ul>
        </th:block>
    </div>


    <!-- Modal Add Post -->
    <div class="modal fade" id="modal-add-post" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width: 950px" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add Post</h5>
                    <button type="button" class="panel-actions" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <select id="post-cteate-category-id" class="form-control" required>
                                <option value="" disabled selected hidden>Choose a Category</option>

                                <option th:each="category : ${listCate}" th:attr="value=${category.categoryId}"
                                        th:text="${category.name}"></option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="fullname" class="form-control"
                                   placeholder="Hủi đẹp trai. Ahihi"
                                   id="post-cteate-title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail"
                                         style="max-width: 360px; max-height: 270px; margin-right: 10px">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style=" "></div>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileupload-new">Select image</span><span
                                            class="fileupload-exists">Change</span><input type="file"
                                                                                          id="post-cteate-file-upload"/></span>
                                    <a href="#" class="btn btn-default fileupload-exists"
                                       data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Content <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <textarea style="width: 750px; height: 200px" class="col-sm-10 form-control"
                                          id="post-cteate-content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="post-cteate-submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Update Post -->
    <div class="modal fade" id="modal-update-post" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width: 950px" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Add Post</h5>
                    <button type="button" class="panel-actions" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <select id="post-update-category-id" class="form-control" required>
                                <option value="" disabled selected hidden>Choose a Category</option>

                                <option th:each="category : ${listCate}" th:attr="value=${category.categoryId}"
                                        th:text="${category.name}"></option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="fullname" class="form-control"
                                   placeholder="Hủi đẹp trai. Ahihi"
                                   id="post-update-title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail"
                                         style="max-width: 360px; max-height: 270px; margin-right: 10px">
                                        <img id="post-update-img"
                                             src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileupload-new">Select image</span><span
                                            class="fileupload-exists">Change</span><input type="file"
                                                                                          id="post-update-file-upload"/></span>
                                    <a href="#" class="btn btn-default fileupload-exists"
                                       data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Content <span class="required">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <textarea style="width: 750px; height: 200px" class="col-sm-10 form-control"
                                          id="post-update-content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="post-update-submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: page -->

</body>
</html>
