<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/main_layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: slider},
                                                ~{:: mainContent},
                                                ~{:: sidebar}
                                               )}">
<head>

    <title>Contact</title>

</head>

<body>

<!--Content Start-->
<div th:fragment="mainContent" class="col-xs-12 nopadding">
    <div class="box">
        <div class="content-body">

            <div class="content-body">

                <!--Featured Image Start-->
                <div class="featured-image img-div-cover">
                    <img src="images/upload/contact-featured-image.jpg" alt="featured image" />
                </div>
                <!--Featured Image End-->

                <!--Breadcrumbs Start-->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <!--Breadcrumbs End-->

                <!--Content Details Body Start-->
                <div class="content-details-body">

                    <div class="page-title title-center">
                        <h1>Contact</h1>
                    </div>

                    <p><span class="dropcap">W</span>orem ipsum dolor sit amet, consectetur adipiscing elit ut mauris magna, lacinia ac purus quis, rutrum bibendum leo. Nullam sit amet nibh eu odio ornare laoreet. Duis imperdiet est ut tristique auctor. Suspendisse mattis condimentum ultricies. Cras non enim et augue facilisis lacinia nec a turpis. Maecenas a mauris eget ligula condimentum semper. In egestas rhoncus consequat. Proin ut lectus quis dolor congue iaculis. Vivamus consequat facilisis dolor, eu porta risus placerat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tempor ornare justo sed congue. Cras eu vehicula eros. Morbi nec urna congue lectus posuere tristique eu ut magna. Duis at lectus quis est mollis viverra. Morbi varius turpis ipsum, quis ultrices leo suscipit ut. Fusce ac nisi at elit faucibus congue.</p>

                </div>
                <!--Content Details Body End-->

            </div>

        </div>

    </div>
</div>
<!--Content End-->

</body>
</html>
