<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/main_layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: slider},
                                                ~{:: mainContent},
                                                ~{:: sidebar}
                                               )}">
<head>

    <title>Oops! We ran into some problems.</title>

</head>

<body>

<!--Content Start-->
<div th:fragment="mainContent" class=" col-xs-12 nopadding" align="center">
    <div class="box">
        <div class="content-body">
            <!--Breadcrumbs Start-->
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <!--Breadcrumbs End-->

            <!--Content Details Body Start-->
            <div class="content-details-body" align="center">

                <div class="page-title title-center">
                    <h1>Oops! We ran into some problems.</h1>
                </div>

                <p>
                <h2>The requested page could not be found.</h2></p>

                <a href="/">
                    <button>Home</button>
                </a>


            </div>
            <!--Content Details Body End-->

        </div>

    </div>
</div>
<!--Content End-->

</body>
</html>